@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: #0e0e0e;
}

body {
  min-height: 100vh;
  background-color: #0e0e0e;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.single-column-radio-inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
